<div class="ui green massive top inverted fixed menu" >
  <div class="ui container">
    <%= nav_helper 'item' %>
    <div class="right menu">
      <%= login_helper 'ui item' %>
    </div>
  </div>
</div>